.message {
  width: 360px;
}
.fade-out {
  opacity: 0.5;
}

.cross-icon {
  position: relative;
  left: 340px;
  bottom: 80px;
}

/*gallary css*/
.photo-gallary{
  width: 760px;
}
.main-frame {
  display: flex;
}
button {
  width: 60px;
  height: 320px;
}
.right-button {
  background: url('../assets/right_arrow.svg') center no-repeat ;
}
.left-button {
  background: url('../assets/right_arrow.svg') center no-repeat ;
  transform:rotate(180deg); 
  -moz-transform:rotate(180deg);   
  -webkit-transform:rotate(180deg); 
}

.thumbnails {
  width: 500px;
  margin: 20px auto;
}